body{
    margin: 0;
    background-color: black;
}
header > div{
    margin-left: 20px;
}
header{
    background-color: black;
    height: 55vh;
    margin-bottom: 8%;
 
}
 .p{
    font-size: 55px;
    color: green;
    font-weight: 900;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 50px;
     
}
.dot{
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}
.m{
    font-size: 55px;
    color: red;
    font-weight: 900;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.codes{
    font-size: 55px;
    color: red;
    margin-left: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.fa-solid .fa-bars{
    display: none;
}
.fa-bars{
    display: none;
}
header .P1{
    display: flex;
    justify-content: center;
    color:white;
    font-size: 40px;
    font-weight: 400;
   margin-top: 15%;
    
}
header .P1 span::before{
    content: "";
    animation: animate infinite 5s;
    padding-left: 10PX;
}
@keyframes animate{
    0%{
        content: "CREATIVITY";
        color: yellow;
    }
    50% {
        content: "RESPONSIVENESS";
        color:blueviolet;
    }
    75%{
        content: " FUNCTIONALITY";
        color: aqua;
    }
}

.ban{
    font-size: 15px;
    font-style: italic;
    color: white;
    float: right;
}
pre{
    color: white;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav ul li{
    display: inline-block;
    list-style-type: none;
    margin: 0px 20px;
}
nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: "";
    width: 0%;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
   

}
nav ul li a:hover::after{
    width: 60px;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#about {
    padding: 80px 0;
    color: white;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img {
    height: 70vh;
    width: 100%;
    border-radius: 15px;
}

.about-col-2 {
    flex-basis: 60%;
}

.sub-title {
    font-size: 60px;
    font-weight: 600;
    color: white;
}

.tab-titles {
    display: flex;
    
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    margin-left: 30px;
}

.tab-links:after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 100%;
}

.tab-contents ul li {
    list-style: none;
    margin: px 0;
}

.tab-contents ul li span {
    color: #b54769;
    font-size: 14px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}
#services{
    padding: 30px 0;

}
.services-list{
    display: grid;
grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
grid-gap: 40px;
margin-top: 50px;
}
.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 20px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s ;
    color: white;
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color: #fff; 
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
background: #ff004f;
transform: translateY(-10px);
}

nav .fas{
    display: none;
 }
 header button{
    padding: 10px;
    width: 100px;
    position: relative;
    left: 50%;
    background-color: red;
    border: 0;
    top: 10%;
 }
header button:hover{
    background: transparent;
    color: white;
}
header button a{
    color: black;
    text-decoration: none;
}
.p3{
    color: white;
    font-size: 40px;
    display: none;
}
/* header button a:hover{
    color: white;
    text-decoration: none;
} */
#portfolio {
    padding: 50px 0;
}

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
    color: white;
}
.fa-xmark{
    display: none;
}
.layer h3 {
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a {
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer {
    height: 100%;
}

.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}

.btn:hover {
    background: #ff004f;
}

/* ----------------------contact------------------------- */
.contact-left {
    flex-basis: 35%;
}

.contact-right {
    flex-basis: 60%;
}

.contact-left p {
    margin-top: 30px;
    color: white;
}

.contact-left p i {
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
    transition: transform 0.6s;
}

.contact-left p i:hover {
    transform: translateY(-5px);
}

.social-icons {
    margin-top: 30px;
}

.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover {
    color: #ff004f;
    transform: translateY(-5px);
}

.btn.btn2 {
    display: inline-block;
    background: #ff004f;
}

.contact-right form {
    width: 100%;
}

form input,
form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
    resize: none;
}

form .btn2 {
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

.copyright {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}
































































 @media only screen and (max-width:600px){
    #header{
        background-image: url(IMAGES/phone-background.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .p{
        margin: 0;
        margin-left: 10px;
    
    }
    .fa-solid{
        display: block;
    }
    .P1 span{
        display: none;
    }
    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
    }
    nav .fas{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: black;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: rigt 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 30px;
        left: 90px;
        cursor: pointer;
       
    }
    .fa-bars{
        margin: 0;
        position: absolute;
        right: 5%;
        font-size: 40px;
    }
    .sub-title{
        font-size: 40px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 20px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
  p.P1{
    display: none;
  }
 .p3{
    display: block;
    position: relative;
    top: 40%;
    margin-left: 20px;
 } 
 p.ban{
    display: none;
 }
header button{
    margin: 0;
position: relative;
right: 30%;
top: 40%;
left: 30%;
}
}
