header{
    background-image: url(judge-gavel-with-justice-lawyers-having-team-meeting-law-firm_253401-3025.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-color: #b1976b;
    background-blend-mode: multiply;
    opacity: 3;
    width: 100%;
    
}
*{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.fa-gavel{
    margin-right: 10px;
}
.fa-location-dot{
margin-right: 10px;
}
nav ul li{
    display: inline;
    margin-right: 20px;
}
nav ul{
    list-style-type: none;
    padding: 10px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: 300;
}
nav h1{
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    left: 8%;
    color: white;
    
}
nav ul button {
    padding: 8px;
    background-color: #b1976b;
    border: 0;
    text-transform: uppercase;
}
nav ul button:hover{
    background-color: black;
    border:2px solid #1f1402;
}
nav ul button a{
    color: white;
}
.tes{
    position: relative;
    left: 8.6%;
    top: 30%;
    width: 50%;
   
    
}
.tes h4{
    font-size: 20px;
    color: orange;

}
.tes h3{
    color: white;
}
.tes h1{
    font-size: 45px;
    color: white;
    margin-top: 10px;
    overflow: hidden;

}
.res{
    display:flex ;
}
.res i{
    color: orangered;
}
.res > div{
 margin-top: 20% ;
width: 100%;
}
#about {
    padding: 80px 0;
    
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
    
}

.about-col-1 img {
    width:100%;
    height: 100%;
    margin-left: 120px;

}

.about-col-2 {
    flex-basis: 60%;
}
.about-col-2 .h4{
    margin-left: 100px;
    color: orangered;
}
.about-col-2 .h2{
    margin-left: 100px;
    font-size: 40px;
    margin-top: 15px;
}
.about-col-2 .p {
    margin-left: 100px;
    margin-top: 20px;
    font-size:20px ;
    
}
.fa-gavel{
    color: orangered;
    margin-left: 120px;
}
.fot{
    display: flex;
    margin-left: 99px ;
   
  
}
nav .fas{
    display: none;
}
.expe{
    border: 1px solid burlywood;
    padding: 10px;
    height: 13vh;
    margin-top: 20px;
}
.expe h4{
    font-size: 20px;
}
.expe p{
    font-size: 20px;
    margin-top: 10px;
}

/* Footer Styles */
/* line 5, sass/layout/_footer.scss */
.site-footer { background-color: #111113; padding: 50px 0; text-align: center; }

/* line 11, sass/layout/_footer.scss */
.subscribe-form { margin-bottom: 30px; background-color: #0c0c0d; padding: 30px; text-align: left; }
/* line 17, sass/layout/_footer.scss */
.subscribe-form form { display: table; width: 100%; }
/* line 20, sass/layout/_footer.scss */
.subscribe-form form label, .subscribe-form form .control { display: table-cell; vertical-align: middle; }
@media screen and (max-width: 640px) { /* line 20, sass/layout/_footer.scss */
  .subscribe-form form label, .subscribe-form form .control { display: block; width: 100%; } }
/* line 28, sass/layout/_footer.scss */
.subscribe-form form label { text-align: left; width: 350px; line-height: 1.2; }
@media screen and (max-width: 640px) { /* line 28, sass/layout/_footer.scss */
  .subscribe-form form label { margin-bottom: 30px; width: 100%; } }
/* line 37, sass/layout/_footer.scss */
.subscribe-form form label span { display: block; font-size: 20px; font-size: 1.25em; font-weight: 600; text-transform: uppercase; }
/* line 42, sass/layout/_footer.scss */
.subscribe-form form label span:last-child { color: #ac8074; }
/* line 46, sass/layout/_footer.scss */
.subscribe-form form input, .subscribe-form form button { vertical-align: middle; outline: none; margin-bottom: 0; -webkit-transition: .3s ease; transition: .3s ease; }
/* line 52, sass/layout/_footer.scss */
.subscribe-form form .control { position: relative; }
/* line 53, sass/layout/_footer.scss */
.subscribe-form form input { border: 4px solid #28292c;  background-color: transparent; padding: 10px 100px 10px 20px; width: 700px; height: 40px; color: #888; }
/* line 61, sass/layout/_footer.scss */
.subscribe-form form input:hover, .subscribe-form form input:hover + button, .subscribe-form form input:focus, .subscribe-form form input:focus + button { border-color: #ac8074; }
/* line 66, sass/layout/_footer.scss */
.subscribe-form form button { height: 70px; padding: 15px 20px 10px; background-color: transparent; border: 4px solid #28292c; margin-left: -10px; position: absolute; right: 0; top: 0; }
/* line 76, sass/layout/_footer.scss */
.subscribe-form form button:focus { border-color: #ac8074; }

/* line 83, sass/layout/_footer.scss */
.social-links { margin: 50px 0; }
/* line 85, sass/layout/_footer.scss */
.social-links a { color: #ac8074; font-size: 20px; font-size: 1.25em; display: inline-block; padding: 10px; -webkit-transition: .3s ease; transition: .3s ease; }
/* line 92, sass/layout/_footer.scss */
.social-links a:hover, .social-links a:focus { color: #c9aca4; }

/* line 98, sass/layout/_footer.scss */
.copy { font-size: 14px; font-size: 0.875em; color: #494949; }









@media screen and (max-width:700px) {
    header {
        background-image: url(HD-wallpaper-law-law-and-order-lawyer.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        margin-bottom: 0;
    }
    nav{
        padding-top: 10px;
    }
    .tes{
        width: 80%;
    }
    .about-col-1,
    .about-col-2 {
        flex-basis: 100%;
    }
    .tes h1{
        font-size: 25px;
        width: 100%;
    }
    .tes h4{
        font-size: 15px;
        width: 100%;
       
    }
 
    #about{
        display: block;
        padding-top: 10px;
        padding-left: 10px;
        padding-right:10px;
    }
    .row{
        width: 100%;
    }
    
    nav .fa-bars {
        display: block;
        font-size: 25px;
        margin-right: 30px;
    }

    .fa-bars {
        display: block;
    }

    #sidemenu .fa-xmark {
        display: block;
    }

    nav ul {
        background-color: white;
        position: fixed;
        top: 0;
        right: -220px;
        width: 150px;
        height: 200vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
        color: #b1976b;
    }
    .news{
    display: none;
}
    nav ul li {
        display: block;
        margin: 25px;
       
    }
    nav ul li a{
        color: #b1976b;
    }
    nav ul li button a{
        color: white;
    }


    nav ul .fa-x {
        position: absolute;
        top: 25px;
        left: 70px;
        cursor: pointer;
        display: block;
    }
    .about-col-1 img {
        margin-left: 0px;
        margin-top: 0;
    }
    
    .about-col-2 .h4{
        margin-left: 0px;
        color: orangered;
    }
    .about-col-2 .h2{
        margin-left: 0px;
        font-size: 27px;
        margin-top: 15px;
    }
    .about-col-2 .p {
        margin-left: 0px;
        margin-top: 20px;
        font-size:16px ;
        width: 98%;
        
        
    }
    .about-col-2 p br{
        display: none;
    }
    .fot{
        margin-left: 0;
    }
    .expe{
        height: 30%;
    }
    .fa-gavel{
        margin-left: 0;
        font-size: 30px;
    }
    .fa-location-dot{
        margin-right: 10px;
    }
    .fa-phone{
        margin-right: 10px;
    }
    .res h3{
        color: white;
    }
}


